<div class="toilet">
  <div class="grid-item">
    <%= link_to "https://loo4you.herokuapp.com", {:style=>'color:#FF4F79;'}, class: "toilet-link" do%>
      <div class="grid-item-toilet">
        <i class="fas fa-toilet fa-2x ml-1" id="icon"></i>
      </div>
    <% end %>
  </div>
  <div class="container mt-4" style="text-align: center">
    <h1>Do it. Click on it.</h1>
  </div>
</div>