<h1>suh bih</h1>
<div class="container">
  <%= simple_form_for [@provider, @provider_action]  do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, "Add Grocery Item", class: "btn btn-primary" %>
  <% end %>
</div>
<% ProviderAction.all.each do |item| %>
  <p><%= item.name unless item.name.include?("Call") %></p>
<% end %>