<!-- new.html.erb FOR MAKING A NEW BUTTON -->
<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serviceModalLabel">Add a Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for [ @senior, @button ] do |f| %>
            <%= f.association :provider, label: false %>
            <%= f.button :submit,'Add a service', class: 'btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>