<h1 id="emergency-status"class= "emergency" style= "text-align: center;"> Emergency notification sent to <%= current_user.caregiver.first_name.capitalize %>  🚑</h1>
<div class="container">
  <label class="control-label check_boxes"></label>
  <div class="emergency-choice" style = "justify-content: center">
    <%= link_to "facetime:emergencycontact", {:style=>'color:black;'} do%>
      <img src="https://zento-yoyo.com/wp-content/uploads/2019/10/sos-02-a.jpg" >
    <%end %>
  </div>
</div>