<h1 id="emergency-status" style= "text-align: center;"> Emergency notification sent to <%= current_user.caregiver.first_name.capitalize %>  🚑</h1>
<div class="form-group">
  <label class="control-label check_boxes"></label>
  <div class="category-choice" style = "justify-content: center">
    <a href="facetime:mickeyogawa@hotmail.co.jp" style = "color:black"> <%= "SOS Call" %> </a>
  </div>
</div>