<% if @provider %>
  <div class="d-flex">
    <div class="container" style="flex: 30%">
      <%= render "providers/#{@provider.name.downcase}" %>
    <% end %>
  </div>
  <div class="container" id="inactive" style="flex: 30%">
    <h1>Groceries</h1>
    <ul id="grocery-items-inactive">
      <% @provider.provider_actions.where(user: @senior).each do |item| %>
        <li>
          <div class="card-grocery-item">
            <%= item.name %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>