// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #8ACFF0;
$yellow: #FFF4B3;
$orange: #E67E22;
$green: #A7F9A1;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink:#F26EAF;
$purple:#E9ABFF;
$lime:#79A1DE;
