<div class="main-container" style="display: flex">
  <div class="vertical-navbar-container" style="flex: 20%">
    <%= render 'shared/vertical-navbar' %>
  </div>
  <div class="container-dashboard" style="flex: 80%">
    <p>What should I do here</p>
  </div>
</div>