<div class="banner-container py-5">
  <div class="banner-content">
    <div class="banner-title">
      <h1>Care Bridge</h1>
      <p>Take care of your faimly <strong>anywhere, anytime</strong>.</p>
    </div>
    <div class="signup-control">
      <%=link_to new_user_registration_path , class:"btn  btn-pink" do %>
        <%="Sign up"%>
      <% end %>
    </div>
  </div>
  <div class="banner-image">
    <img src="https://image.freepik.com/free-vector/studying-computer-by-elderly-people-technology-spread-oldster-education-active-social-life-online-communication-senior-couple-with-tablet-learning-use-pc-together-simple-flat_140689-283.jpg" alt="">
  </div>
</div>