<div class="banner" style="background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(200,200,200,0.3)), url(https://www.laservices.ca/wp-content/uploads/Las-Home-Banner-2.jpg)">
  <div class="container">
    <div class="row">
      <h2>
        <span id="catch">Care Bridge</span>
        <span
      class="txt-rotate"
      data-period="500"
      data-rotate='[ "anywhere", "anytime", "whenever", "wherever." ]'></span>
      </h2>
    </div>
  </div>
  <div class="col-md-5 offset-md-1">
    <div class="signup-control">
      <%=link_to new_user_registration_path , class:"btn  btn-pink" do %>
        <%="Join us"%>
      <% end %>
    </div>
  </div>
</div>