<div class="card-senior">
  <%= link_to "", user_path(senior), class: "card-senior-link" %>
  <div class="card-senior-infos">
    <img src="https://www.meme-arsenal.com/memes/e58db01cbe029d1732074b2e642bdc0e.jpg" class="card-senior-user avatar-bordered" />
    <h2><%= senior.first_name %></h2>
    <span class="badge badge-pill badge-danger" id="notification-badge">5</span> <!-- temporarily hard coded the badge number -->
  </div>
</div>