<div class="card-senior">
  <%= link_to "", user_path(senior), class: "card-senior-link" %>
  <div class="card-senior-infos <%= current_senior == senior ? "card-senior-infos-active" : "" %>">
    <%= cl_image_tag (senior.photo.attached? ? senior.photo.key : "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_600,w_600/viqfqp0tfkmcwmj7cfwe.jpg" ), alt: "alttext" %>
    <h2><%= senior.first_name.capitalize %></h2>
  </div>
</div>