<div class="vertical-navbar pt-4">
  <% if current_user.has_seniors? %>
    <% current_user.seniors.each do |senior|  %>
      <div class="senior-card">
        <%= render 'shared/senior-card', current_senior:current_senior, senior:senior %>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>