<div class="container p-5">
  <%orders.each do |order| %>
    <table class="table table-striped table-primary table-hover">
      <thead>
        <tr>
          <th scope="col">Item:</th>
        </tr>
      </thead>
      <% order.provider_actions.each do |provider_action|%>
        <tr>
          <td> <%= provider_action.name%></td>
        </tr>
      <%end %>
    </table>
  <%end %>
</div>