<div class="container p-5">
  <%order = @orders.last %>
  <table class="table table-striped table-warning table-hover">
    <thead>
      <tr>
        <th scope="col">Item:</th>
        <th scope="col">Time:</th>
      </tr>
    </thead>
    <% order.provider_actions.each do |provider_action|%>
      <tr>
        <td> <%= provider_action.name%></td>
        <td><%= order.created_at.in_time_zone("Asia/Tokyo").strftime("%b %e, %l:%M %p")  %></td>
      </tr>
    <%end %>
  </table>
</div>