<div class="container pt-5">
  <h1>Orders</h1>
  <div class= "menu-btn"> <%=link_to buttons_path, class:'btn btn-return' do %>
      Return
    <% end %></div>
  <div class="container p-5">
    <%@orders.each do |order| %>
      <table class="table table-striped table-primary table-hover">
        <thead>
          <tr>
            <th scope="col">order:</th>
            <th scope="col">Time:</th>
            <th scope="col">Status:</th>
          </tr>
        </thead>
        <% order.provider_actions.each do |provider_action|%>
          <tr>
            <td> <%= provider_action.name%></td>
          </tr>
        <%end %>
      </table>
    <%end %>
  </div>
</div>