<div class="container pt-5">
  <h1 style=" margin-top: 1em text-align: center;">Orders</h1>
  <div class= "menu-btn"> <%=link_to buttons_path, class:'btn btn-return' do %>
      Return
    <% end %></div>
  <%= render 'senior_order', order: @orders.first %>
</div>