<%= render 'shared/senior-navbar', button: @button %>
<div class="senior-background">
  <div class="container pt-5 vh-100">
    <h1 style="text-align: center">Orders</h1>
    <div class="container p-5">
      <table class="table table-borderless" style= "font-size: 25px;">
        <thead>
          <tr>
            <th scope="col">Item:</th>
            <th scope="col">Time:</th>
          </tr>
        </thead>
        <% @order.provider_actions.each do |provider_action|%>
          <tr>
            <td> <%= provider_action.name%></td>
            <td><%= @order.created_at.in_time_zone("Asia/Tokyo").strftime("%b %e, %l:%M %p")  %></td>
          </tr>
        <%end %>
      </table>
    </div>
  </div>
</div>