.senior-background {
background-color: #b1ade2;
background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);
}
.senior-background h1{
color:#F26FB0;
font-weight: bold;
font-family: sans-serif;
font-size: 46px;
font-weight: 300;
line-height: 50px;
letter-spacing: 1px; padding: 0 0 40px;


}

.senior-index-background {
background-color: #fee2f8;
background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);

}
