.banner-container {
  display: flex;
  background: #8ACFF0;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 70px);
}

.banner-content {
  justify-content: center;
  text-align: left;
}

.banner-title h1 {
  font-size: 64px;
  color: white;
  line-height: 1.4em;
}
.banner-title p {
color:#DFFEFC;

}



.banner-image img {
  height: 540px;
  width: 540px;
  border-radius: 50%;
  background-image: cover;
  object-fit: cover;
}


.signup-control {
  padding-top: 12px;

}

// .signup-control .btn {
//   position: absolute;

//   border-radius: 20px;
// }

@media (max-width: 700px){


}
