.btn-return {
  color:black;
  border: 1px solid white;
  padding: 20px 65px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 1;
  cursor:pointer;
  transition: opacity 0.3s ease;
  background:#79D4DE;
  box-shadow: 3px 4px 0px 0px  #5CA3AB;

}

.btn-return:hover {
  opacity: 1;
}

.btn-return:active{
  position:relative;
  top:3px;
}



.btn-pink {
  color:white;
  border: 1px solid white;
  padding: 10px 45px;
  border-radius: 50%;
  font-weight: lighter;
  opacity: 1;
  cursor:pointer;
  transition: opacity 0.4s ease;
  background:#FFACBF;
  box-shadow: 3px 4px 0px 0px #DE1665;

}

.btn-pink:hover {
  opacity: 1;
}

.btn-pink:active{
  position:relative;
  top:3px;
}



