.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  // height: calc(100vh - 70px);
  height: 100vh;
}

.grid-container-2 {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  padding: 36px;
}

.grid-container-2 h1 {
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
}

.grid-item-group {
  // height: 400px;
  a {
    text-decoration: none;
  }
}

.grid-item img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 3px solid rgba(230px, 230px, 30px, 0.4);
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.2);
  background-image: cover;
  object-fit: cover;
}
.grid-item img:active{
  position:relative;
  top:3px;
}

.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  // height: calc(100vh - 70px);
  height: 100vh;

}

.grid-item-group-2 {
  // height: 400px;
  a {
    text-decoration: none;
  }
}

.grid-item-2 img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 3px solid rgba(230px, 230px, 30px, 0.4);
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.2);
  background-image: cover;
  object-fit: cover;
}
.grid-item-2 img:active{
  position:relative;
  top:3px;
}


.grid-item-group, .grid-item-group-2 {
  list-style-type: none;
}

@media (min-width: 100px) and (max-width: 575px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
