.form-order {

  margin-top: 20px;
  padding: 20px;


  .form-order h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #7E5DFE;





  }
  .create-btn {
    width: 100%;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 3px 4px 0px 0px #DE1665;
    color:white;
  }

}

.menu-btn{

    position: absolute;
    top: 72px;
    left: 18px;
    bottom: 0;

  }

// Checkboxes design
.category-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  // display: flex;
      // align-items: center;
      // justify-content: center;
      // font-size: 30px;
      // color:black;
      // background:#B8CCF5;
      // /* padding: 80px; */
      // border-radius: 48px;
      // opacity: .7;
      // /* text-align: center; */
      // width: 200px;
      // height: 200px;
      // border: 3px solid rgba(100px, 129px, 172px, 0.6);
      // box-shadow: 0 0 8px #807BFF;
      // margin: 10px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category-choice img {
  user-drag: none;
  user-select: none;
  border-radius: 48px;
  opacity: .9;


    /* text-align: center; */
  width: 200px;
  height: 200px;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.3);
  // border: 3px solid rgba(230px, 230px, 30px, 0.4);
  background-image: cover;
  object-fit: cover;
}

.category-choice.active {
  position: relative;
  img {
    position:relative;
    top:10px;
    box-shadow: 0 0 8px #F26FB0;
    border: 3px solid rgba(100px, 129px, 172px, 0.1);
    background: #F26FB0;
    filter: brightness(0.9);
  }
}



  // &.active {
  // background: #FFBAD2;
  // color: black;
  // opacity: 1;
  // box-shadow: 0 0 8px #F26FB0;
  // border: 3px solid rgba(100px, 129px, 172px, 0.1);
  // position:relative;
  // top:10px;
  // }



.facetime-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;



}

.facetime-choice{
   display: flex;
    flex-direction: column;
    align-items: center;


}

.facetime-choice img {
  border-radius: 48px;
  opacity: .9;


    /* text-align: center; */
  width: 200px;
  height: 200px;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.3);
  // border: 3px solid rgba(230px, 230px, 30px, 0.4);
  background-image: cover;
  object-fit: cover;
}
.facetime-choice img:active{
  position:relative;
  top:10px;
  box-shadow: 0 0 8px #F26FB0;
  border: 3px solid rgba(100px, 129px, 172px, 0.1);
}

.facetime-choice h1 {
  font-size: 30px;
  color: #F26FB0;
  text-align:center;
  margin-top: 16px;
}


.hidden{
  display: none;
}
