
.form-order {

  margin-top: 20px;
  padding: 100px;


  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .create-btn {
    width: 100%;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 3px 4px 0px 0px #FFBAD2;
    color:white;
  }

}

.menu-btn{
    position: absolute;
    top: 110px;
    left: 76%;
    bottom: 0;

  }

// Checkboxes design
.category-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color:black;
    /* padding: 80px; */
    border-radius: 50%;
    opacity: .4;
    /* text-align: center; */
    width: 200px;
    height: 200px;
    border: 3px solid rgba(230px, 230px, 30px, 0.4);
    box-shadow: 0 0 8px #FFBAD2;
    margin: 10px auto;


  &.active {
  background: #FFBAD2;
  color: black;
  opacity: 1;
  position:relative;
  top:5px;
  }
}

.hidden{
  display: none;
}
