#grocery-items-inactive {
  list-style: none;
  padding: 0;
  background-color: white;
  .card-grocery-item {
      margin: 1px;
      padding: 5px 10px;
      border: 1px solid #F26EAF;
      display: flex;
    }
  }

#button-card {
  background-color: white;
  margin: 4px;
  border: 1px solid black;
  border-radius: 4px;
}


.card-button {
  background-color: white;
  margin: 4px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  .button-card-link {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.card-info {
  padding: auto;
  margin: auto;
}
