#grocery-items-inactive {
  list-style: none;
  padding: 0;
  background-color: white;
  border: 2px solid #F26EAF;
  .card-grocery-item {
      margin: 1px;
      padding: 5px 10px;
      border: 1px solid #F26EAF;
    }
  }
#grocery-items-active {
  height: 236px;
  list-style: none;
  padding: 0;
  border: 2px solid #F26EAF;
  .card-grocery-item {
    background-color: #DFFEFC;
      margin: 1px;
      padding: 5px 10px;
      border: 1px solid #F26EAF;
    }
  }

#button-card {
  background-color: white;
  margin: 4px;
  border: 1px solid black;
  border-radius: 4px;
}


.card-button {
  background-color: white;
  margin: 4px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  .button-card-link {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.card-info {
  padding: auto;
  margin: auto;
}

.ftcard {
  background-color: #FEF0FA;
  margin: 10px;
  border: 1px solid #FEC5EE;
  border-radius: 4px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  box-shadow: 0 0 8px pink;

}

.ftcard img{
  height: 70px;
  width: 70px;
  object-fit: cover;
  padding: 6px;
  border-radius: 50%;

}

.ftcard-info {
  padding: auto;
  margin: auto;
}
