.navbar-lewagon {
  justify-content: space-between;
  background-color: #b1ade2;
  // background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);
  background-image: linear-gradient(232deg, #b1ade2 -36%, #7ddff8 51%);
  height: 90px;

  opacity: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;

}
