.senior-navbar{
  justify-content: space-between;
  background-color: #b1ade2;
  // background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);


  opacity: 1;
  // position: fixed;
  top: 0;
  width:100%;
  // margin-left: -20px;


}

.senior-navbar .return-page{
  background-color: #49448C;
  padding:50px;
  width:200px;
  font-size: 30px;
}

.senior-navbar .tilte-page {
  text-align:center;
  margin-top:40px;
  h1{

     font-size: 64px;
  }



}

.senior-navbar .next-page{

  background-color: #F95199;
  padding:20px;
  width:200px;
  display: flex;
  align-items: center;


}

.order{

   font-size: 30px;

}


