.card-senior {
  text-align: center;
  background: transparent;
  width: auto;
  border-radius: 12px;
  padding: 10px;
  margin: auto;
  a {
    text-decoration: none;
    text-shadow: 2px 1px white;
      color: black;
  }
}

.card-senior-infos img {
  height: 120px;
  width: 120px;
  background-image: cover;
  object-fit: cover;
  padding: 6px;
  background: #FDDBB6;
  border-radius: 50%;
}

.container-seniors {
  display: grid;
  align-items: center;
  margin: 0 50px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.card-senior {
  position: relative;
  .card-senior-link {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

#notification-badge {
  position: absolute;
  top: -6px;
  right: 4px;
  font-size: 32px;
}
